# SPDX-FileCopyrightText: 2026 Christian-Hauke Poensgen
# SPDX-FileCopyrightText: 2026 Maximilian Dolling
# SPDX-FileContributor: AUTHORS.md
#
# SPDX-License-Identifier: BSD-3-Clause

__pycache__/
*.py[cod]
*.egg-info/
.dist/
dist/
build/
.venv/
node_modules/
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.db
*.db
*.db-shm
*.db-wal
.db-shm
.db-wal
*.sqlite3
celerybeat-schedule
celerybeat-schedule.*
logs/
*.log
.idea/
.vscode/
.DS_Store
/demo/data
/celery_root/web/
.coverage
coverage.xml
/htmlcov/
